<a href="https://colab.research.google.com/github/gsulav2041/Sulav_DTSC3020_Fall2025/blob/main/Assignment_2_week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
fruits = ["Cherry" , "Mango" , "Orange"]
print(fruits)
for fruit in fruits:
    print(fruit)

['Cherry', 'Mango', 'Orange']
Cherry
Mango
Orange

In [22]:
name = ["Harry", "Sam", "Eliza", "Patrick" ]
print(name)
name[0] = "Peter"
print(name)

['Harry', 'Sam', 'Eliza', 'Patrick']
['Peter', 'Sam', 'Eliza', 'Patrick']

In [26]:
vehicles = ["Bus", "Bike", "Truck", "Car", "Boat"]
print(vehicles)
vehicles.append ("Scooter")
print(vehicles)

['Bus', 'Bike', 'Truck', 'Car', 'Boat']
['Bus', 'Bike', 'Truck', 'Car', 'Boat', 'Scooter']

In [27]:
food = ["Pizza", "Sandwich", "Pasta", "Fries", "Burger", "Curry"]
food.remove ("Fries")
print(food)

['Pizza', 'Sandwich', 'Pasta', 'Burger', 'Curry']

In [31]:
cities = ["Dallas", "Kathmandu", "Austin", "New York"]
cities.sort()
print(cities)
cities.reverse()
print(cities)

['Austin', 'Dallas', 'Kathmandu', 'New York']
['New York', 'Kathmandu', 'Dallas', 'Austin']

In [32]:
animals = ["Dog", "Cat", "Bear"]
for animal in animals:
    print(animal)

Dog
Cat
Bear

In [34]:
numbers = [1, 2, 3, 4, 5]
print(numbers)
for number in numbers:
    print(number*2)

[1, 2, 3, 4, 5]
2
4
6
8
10

In [38]:
name = ["Harry", "Sam", "Eliza", "Patrick", "David", "Charlie" ]
print (name[0:3])
print (name[3:6])

['Harry', 'Sam', 'Eliza']
['Patrick', 'David', 'Charlie']

In [48]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
squares = [value**2 for value in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]